.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .user-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .user-info span {
    width: 100px; 
  }
  
  .user-info .filterByUserType ul,
  .user-info .filterWithJ ul,
  .user-info .filterByAge ul,
  .totalExperience ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 10px;
  }
  
  .container {
    border: 2px solid grey;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .filterByUserType {
    border: 2px solid grey;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .filterWithJ {
    border: 2px solid grey;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .filterByAge {
    border: 2px solid grey;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(0, 0, 255, 0.61);
  }
  
  .user-info li {
    margin-bottom: 5px;
    list-style: none;
    color: rgba(0, 0, 255, 0.61);
    text-align: left;
  }
  
  .totalExperience {
    border: 2px solid grey;
  }
  
  li:not(.user-info li) {
    display: inline-block;
    margin-right: 20px; 
    color: rgba(0, 0, 255, 0.61);
  }
  
  .totalExperience {
    color: rgba(0, 0, 255, 0.61);
  }
  